
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Data & outputs
data/raw/
data/interim/
data/processed/
runs/
outputs/
*.ckpt
*.pt

# OS & editor
.DS_Store
Thumbs.db
.vscode/
.ipynb_checkpoints/

# Secrets
.env
kaggle.json
