# Ignore Python cache & virtual env
__pycache__/
*.pyc
.venv/
venv/

# Ignore system files
.DS_Store
Thumbs.db
.vscode/
# Ignore archive folder
archive/
OneDrive/

# But track specific files inside the directory
# !OneDrive/Documents/Desktop/Safety\ AI\ Monitoring/*